<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <ul>
        <% berita.forEach(function(item) { %>
            <li>
                <strong><%= item.judul %></strong>: <%= item.isi %>
            </li>
        <% }); %>
    </ul>

    <a href="/pemesanan">Form Pemesanan</a>
</body>
</html>
